body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1302px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u67648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u67648 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:70px;
  width:378px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u67648 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67648_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u67649 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:138px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u67649 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67649_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u67650 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:476px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u67650 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67650_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  height:310px;
}
#u67651 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:138px;
  width:849px;
  height:310px;
  display:flex;
}
#u67651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1222px;
  height:215px;
}
#u67652 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:476px;
  width:1222px;
  height:215px;
  display:flex;
}
#u67652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67653 {
  position:absolute;
  left:83px;
  top:74px;
  visibility:hidden;
}
#u67653_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1248px;
  height:454px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67653_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u67654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1248px;
  height:454px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u67654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1248px;
  height:454px;
  display:flex;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u67654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1248px;
  height:48px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u67655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1248px;
  height:48px;
  display:flex;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u67655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u67655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u67657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(205, 205, 205, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u67657 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:8px;
  width:120px;
  height:32px;
  display:flex;
  color:#1E1E1E;
}
#u67657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u67658 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:13px;
  width:22px;
  height:22px;
  display:flex;
}
#u67658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
}
#u67659 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:15px;
  width:24px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u67659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67660 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:58px;
  width:84px;
  height:16px;
  display:flex;
}
#u67660 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67660_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:237px;
}
#u67661 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:80px;
  width:617px;
  height:237px;
  display:flex;
}
#u67661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67662 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:58px;
  width:84px;
  height:16px;
  display:flex;
}
#u67662 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67662_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67663 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:80px;
  width:581px;
  height:181px;
}
#u67663_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:181px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67663_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u67664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:954px;
  height:161px;
}
#u67664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:954px;
  height:161px;
  display:flex;
}
#u67664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u67666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u67666 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:10px;
  width:32px;
  height:32px;
  display:flex;
  color:#0099FF;
}
#u67666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u67667 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:13px;
  width:336px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u67667 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67667_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
