body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:415px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u80575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u80576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u80576 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:10px;
  width:32px;
  height:32px;
  display:flex;
  color:#0099FF;
}
#u80576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u80576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u80577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u80577 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:13px;
  width:336px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u80577 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u80577_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u80578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u80578 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:59px;
  width:392px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u80578 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u80578_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
