.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.shape {
  color:#BCBCBC;
}
.image {
}
.placeholder {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.heading_1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.horizontal_line {
}
._文本段落 {
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
.line {
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
._流程形状 {
}
.html_button {
  text-align:center;
}
.tree_node {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:36px;
}
.table_cell {
}
._线段 {
}
._连接线 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.sticky_1 {
  text-align:left;
}
.sticky_2 {
  text-align:left;
}
.sticky_4 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.menu_item {
}
.icon {
}
.checkbox-uncheck {
}
._形状 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#BCBCBC;
  text-align:center;
  line-height:normal;
}
._水平线 {
}
.flow_shape {
}
.shape1 {
}
.image1 {
  color:#000000;
}
.vertical_line {
}
.iconfont {
  font-family:'iconfont Normal', 'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
._下拉列表框 {
  color:#000000;
  text-align:left;
}
._图片 {
  color:#000000;
}
.label1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
._文本段落1 {
  font-size:14px;
  text-align:left;
  line-height:20px;
}
._复选框 {
  font-size:14px;
  text-align:left;
}
._下拉列表框1 {
  font-size:14px;
  text-align:left;
}
._形状1 {
}
._单元格 {
}
._表格 {
}
.paragraph1 {
  text-align:left;
}
.el-button {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:center;
}
.el-button-primary {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
.label2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
.input-placeholder {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C0C4CC;
  text-align:left;
}
.input-textarea {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C0C4CC;
  text-align:left;
}
.el-button-primary-plain {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#409EFF;
  text-align:center;
}
.table_cell1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
.inputed {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
.tag-success {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#67C23A;
  text-align:center;
}
.tag-warning {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E6A23C;
  text-align:center;
}
.tag-info {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:center;
}
.tag-danger {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F56C6C;
  text-align:center;
}
.el-shadow {
}
._图片1 {
}
.refs-design-fluent {
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
.icon1 {
}
.line1 {
}
.box_21 {
}
.primary_button1 {
  color:#FFFFFF;
}
._图片2 {
}
.icon2 {
}
.box_22 {
}
._30号字_服务主标题，例如双行列表内的下方描述信息。__） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
._24号字_最小说明文本，例如列表时间态、版权信息等） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
._32号字_单行列表内，右方操作说明的文字__） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
._36号字_顶部标题、大按钮、弹窗提示主标题_ {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._34号字_单行列表内，左方主标题文字字） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
._28号字_页面备注信息及列表的表头说明文字__） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._次按钮（动作列表） {
  font-family:'Heiti SC Normal', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:center;
}
.shape2 {
}
.paragraph2 {
  text-align:left;
}
.image2 {
  color:#000000;
}
.ellipse1 {
}
.box_11 {
}
.label3 {
  font-size:14px;
  text-align:left;
}
.ellipse2 {
}
.checkbox-label-uncheck {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
.heading_21 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._图片_ {
}
.sticky_3 {
  text-align:left;
}
._默认样式 {
}
textarea, select, input, button { outline: none; }
